{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Inicio de sesión</h1>

    {{ form_start(formulario) }}

    {{form_widget(formulario) }}

    {{ form_end(formulario) }}

</div>
{% endblock %}
