.ball
    background: $gradient-1
    height: 40px
    width: 40px
    border-radius: 50%
    color: $white
    font-size: 1.5em
    align-items: center
    display: flex
    justify-content: center
    float: left
    margin-right: 0.5em
    margin-left: 1em

    @media screen and (min-width: $breakpoint-sm)
        display: flex
        flex-direction: column
        justify-content: center


