.footer
    display: none

    @media screen and (min-width: $breakpoint-sm)
        display: block
        width: 100%
        color: $white

    &__content

        @media screen and (min-width: $breakpoint-sm)
            background-color: $gray5
            height: 100px
            text-align: center
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

    &__text

         @media screen and (min-width: $breakpoint-sm)
             margin-top: 0.5em