.form-image
    margin-bottom: 2.5em

    @media screen and (min-width: $breakpoint-sm)
        margin-bottom: 3em

    &__image
        display: none

        @media screen and (min-width: $breakpoint-sm)
            display: block
            text-align: right
            height: 470px

            img
                height: 100%

    &__form
        border: 1px solid $gray1
        border-radius: 3px
        padding: 1.5em
        margin-left: 1em
        margin-right: 1em
        box-shadow: 4px 4px $primary3

        @media screen and (min-width: $breakpoint-sm)
            width: 360px

    &__label-form
        margin-bottom: 1em
        margin-top: 1em

        &:first-child
            margin-top: 1.5em

        label
            display: block

        input, select
            display: block
            width: 100%
            border: 1px solid $gray2
            border-radius: 3px
            margin-top: 0.3em
            color: $gray2
            padding: 0.5em 0 0.5em 0.5em

        select, option
            background-color: $white
            color: $gray5

    &__privacity
        display: inline-block
        margin-bottom: 2.5em

    &__btn
        text-decoration: none
        background: $primary3
        color: $white
        border-radius: 2px
        padding: 0.6em 1.5em 0.6em 1.5em
   
    &__disappear
        display: none

.form-container
    margin: 0 auto
        

            