.function
    margin-top: 2.5em
    margin-bottom: 2.5em

    @media screen and (min-width: $breakpoint-sm)
        margin-bottom: 5em

    &__title
        font-size: 1.5em
        margin-left: 1em
        color: $gray6

        @media screen and (min-width: $breakpoint-sm)
            font-size: 2em
            text-align: center
            margin-bottom: 1.5em
            margin-top: 2.5em

    &__block

        @media screen and (min-width: $breakpoint-sm)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

    &__text-content
        overflow: hidden
        margin-right: 1em
        margin-top: 1.6em

        @media screen and (min-width: $breakpoint-sm)
            text-align: center

    &__subtitle
        font-size: 1.4em
        margin-bottom: 0.25em
        color: $gray6
    
    &__text
        font-size: .9em
        line-height: 1.2em