.intro
    background-image: url('../images/jumbo.jpg')
    background-size: cover
    background-position: right

    @media screen and (min-width: $breakpoint-sm)
        height: 450px

    &__content
        background: $transparency2
        color: $white

    &__things
        width: 80%
        padding: 1em

        @media screen and (min-width: $breakpoint-sm)
            height: 418px

    &__title
        padding-left: 1em
        line-height: 1.5em
        font-size: 2em

        @media screen and (min-width: $breakpoint-sm)
            padding-top: 1.5em
            font-size: 2.5em
            margin-right: 1.5em
            font-size: 2.7em

    &__app-links
        margin-top: 1.5em

    &__app-images
        display: flex
        justify-content: space-around
        padding-left: 1em

    &__app-item
        margin-top: 16px

    &__app-btn
        width: 150px

        @media screen and (min-width: $breakpoint-md)
            width: auto

