.map
    margin-top: 2em
    margin-left: 1em
    margin-right: 1em
    margin-bottom: 4em

    &__container
        margin-top: 1.5em
        width: 100%

        iframe
            width: 100%

            @media screen and (min-width: $breakpoint-sm)
                height: 500px

    &__list
        display: flex
        flex-wrap: wrap

        &:first-child
            width: 100%
        
        not(:first-child)
            flex: 1

        & img
            height: 15px
            margin-left: 0.5em

    &__users
        display: none

        @media screen and (min-width: $breakpoint-sm)
            display: block
            

    &__user

        @media screen and (min-width: $breakpoint-sm)
            border-bottom: 1px solid $gray2
            padding-bottom: 1em
            margin-top: 2em
            
            &:last-child
                border-bottom: 0

.name-user
    color: $gray6
    font-size: 1.2em
    margin-bottom: 0.5em
    width: 100%

.rating-user
    color: $primary2
    font-size: 1.2em
    margin-right: 1em

.size-user
