.opinions
    margin: 0 1em 2em 1em

    &__content
        margin-top: 1em

    &__text
        border: 1px solid $gray1
        padding: 1em

    &__group
        margin-top: 0.7em


    &__group-image
        display: block
        float: left
        margin-right: 0.7em

        & img
            border-radius: 50%

    &__group-text
        padding-top: 1em

    &__name
        font-size: 13px
        margin: 0.5em 0 0.5em 0
        color: $gray4

    &__city
        font-size: 11px
        color: $gray6

.desktop
    display: none

    @media screen and (min-width: $breakpoint-sm)
        display: block