.triangulo-container
    position: relative
    
.triangulo
    border: 10px solid $gray1
    border-left-color: transparent
    border-bottom-color: transparent
    border-right-color: transparent
    position: absolute
    bottom: -33px
    left: 11px

    @media screen and (min-width: $breakpoint-sm)
        bottom: -37px

.triangulo-base
    border: 10px solid $white
    border-left-color: transparent
    border-bottom-color: transparent
    border-right-color: transparent
    position: absolute
    bottom: -31px
    left: 11px
    z-index: 1

    @media screen and (min-width: $breakpoint-sm)
        bottom: -35px
   