
{{ form_start(formulario) }}
    <div class="form-image__label-form heading-3">
        {{ form_row(formulario.nombre) }}
    </div>
    <div class="form-image__label-form heading-3">
        {{ form_row(formulario.email) }}
    </div>
    <div class="form-image__label-form heading-3">
        {{ form_row(formulario.horario) }}
    </div>
    <div class="form-image__label-form heading-3">
        {{ form_row(formulario.ciudad) }}
    </div>
    <div>
        {{ form_row(formulario.Guardar) }}
    </div>
{{ form_end(formulario) }}