
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <style>
                .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="example-wrapper">
                <h1>Listado de solicitudes</h1>  
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Ciudad</th>
                            </tr>
                        </thead>
                        {% for sol in solicitud %}             
                            <tbody>
                                <tr>
                                <td>{{ sol.nombre }}</td>
                                <td>{{ sol.email }}</td>
                                <td>{{ sol.horario }}</td>
                                <td>{{ sol.ciudad }}</td>
                                <td><a href="{{ path('edit-solicitud', {id: sol.id})}}">Editar</a></td>
                                <td><a href="{{ path('remove-solicitud', {id: sol.id})}}">Eliminar</a></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>                    
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

