<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src= "/scripts/scripts.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/squirrelly@7.5.0/dist/squirrelly.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="content-fluid">
            {% block header %}
            <header class="header">
                <div class="header__image">
                    <img src="assets/images/logo.svg"
                         alt="Maleteo">
                </div>
                <div class="inicio-sesion">
                    <a href="{{ path('login-usuario') }}" class="form-image__btn">Inicia sesión</a>
                </div>
            </header>
            {% endblock header %}
            <div class="intro">
                <div class="row">
                    <div class="col-md-6  col-xs-12">
                        <div class="intro__content">
                            <div class="intro__things">
                                <h1 class="intro__title heading-1">Gana dinero guardando equipaje a viajeros como tú</h1>
                                <ul class="intro__app-images">
                                    <li class="intro__app-item">
                                        <img src="assets/images/app-store.svg" alt="App store" class="intro__app-btn">
                                    </li>
                                    <li class="intro__app-item">
                                        <img src="assets/images/google-play.svg" alt="Google play" class="intro__app-btn">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="function">
                <h2 class="function__title heading-2">¿Cómo funciona?</h2>
                <ul class="function__list row">
                    <li class="col-xs-12 col-md-4">
                        <div class="function__block">
                            <div class="ball">1</div>
                            <div class="function__text-content">
                                <h2 class="function__subtitle">Date de alta</h2>
                                <p class="function__text">Lorem ipsum dolor sit, recusandae corporis libero cupiditate qui facilis voluptatibus et perferendis. Corporis non ullam voluptatem doloremque accusantium nam eveniet repellat.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="function__block">
                            <div class="ball">2</div>
                            <div class="function__text-content">
                                <h2 class="function__subtitle">Publica tus espacios, horarios y tarifas</h2>
                                <p class="function__text">Lorem ipsum dolor sit, recusandae corporis libero cupiditate qui facilis voluptatibus et perferendis. Corporis non ullam voluptatem doloremque accusantium nam eveniet repellat.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="function__block">
                            <div class="ball">3</div>
                            <div class="function__text-content">
                                <h2 class="function__subtitle">Recibe viajeros y gana dinero</h2>
                                <p class="function__text">Lorem ipsum dolor sit, recusandae corporis libero cupiditate qui facilis voluptatibus et perferendis. Corporis non ullam voluptatem doloremque accusantium nam eveniet repellat.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-image">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-image__image">
                            <img src="assets/images/iPhoneX.png" alt="Image de un móvil">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 col-xs-12">
                        <div id="aaa">
                            <div class="form-image__form" id="formulariopint">
                                <div class="form-container">
                                    <p class="form-image__title heading-1">Solicita una demo</p>
                                    {{ form_start(formulario, {'action': path('homepage'),'attr': {'id': 'formulario'}}) }}
                                        <div class="form-image__label-form heading-3">
                                            {{ form_label(formulario.nombre) }}
                                            {{ form_widget(formulario.nombre) }}
                                        </div>
                                        <div class="form-image__label-form heading-3">
                                            {{ form_label(formulario.email) }}
                                            {{ form_widget(formulario.email) }}
                                        </div>
                                        <div class="form-image__label-form heading-3">
                                            {{ form_label(formulario.horario) }}
                                            {{ form_widget(formulario.horario) }}
                                        </div>
                                        <div class="form-image__label-form heading-3">
                                            {{ form_label(formulario.ciudad) }}
                                            {{ form_widget(formulario.ciudad) }}
                                        </div>
                                        <div class="form-image__privacity heading-3">
                                            {{ form_widget(formulario.privacidad) }}
                                            {{ form_label(formulario.privacidad) }}
                                        </div>
                                        <div>
                                            {{ form_widget(formulario.Enviar, {'attr': {'class': 'form-image__btn'}}) }}
                                        </div>
                                    {{ form_end(formulario) }}
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opinions">
                <h2 class="function__title heading-2">Opiniones de otros guardianes</h2>
                <ul class="row">
                    {% for op in opinion %}
                        <li class="col-md-4 col-xs-12">
                            <div class="opinions__content">
                                <div class="opinions__text heading-3">
                                    <p>{{ op.comentario }}</p>
                                    <div class="triangulo-container">
                                        <div class="triangulo-base"></div>
                                        <div class="triangulo"></div>
                                    </div>
                                </div>
                                <div class="opinions__group">
                                    <div class="opinions__group-image">
                                        <img src="assets/images/deorro.jpg" alt="Imagen de usuario">
                                    </div>
                                    <div class="opinions__group-text">
                                        <h3 class="opinions__name">{{op.nombre}} {{op.apellido}}</h3> 
                                        <h4 class="opinions__city">{{op.barrio}}, {{op.ciudad}}</h4>
                                    </div>                            
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="map">
                <h2 class="function__title heading-2">Guardianes cerca tuyo</h2>
                <div class="row">
                    <div class="col-md-3" id="map__users" class="map__users">
                    </div>
                    <div class="col-md-9"> 
                        <div class="map__container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.74804981012!2d-3.6968836846027986!3d40.45871307936029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229036539b84b%3A0xe9147f67419c2744!2sCalle%20de%20Orense%2C%2069%2C%2028020%20Madrid!5e0!3m2!1ses!2ses!4v1575818761089!5m2!1ses!2ses" width="80%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__logo">
                <img src="assets/images/logo_blanco.svg" alt="Maleteo">
            </div>
            <p class="footer__text">Hecho con <img src="assets/images/corazones.png" alt="Corazón"> en Madrid</p>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>