body
  font-family: $font-family-base
  font-size: $font-size-base
  color: $font-color-base
  //line-height: $line-height-base
    
.heading-1
    font-size: 22px
    line-height: 20px

    @media screen and (min-width: 48em)
        font-size: 24px
        line-height: 28px

    @media screen and (min-width: 62em)
        font-size: 24px
        line-height: 28px

.heading-2
    font-size: 14.5px
    line-height: 17px

    @media screen and (min-width: 48em)
        font-size: 19.5px
        line-height: 23.5px

    @media screen and (min-width: 62em)
        font-size: 19.5px
        line-height: 23.5px

.heading-3
    font-size: 13px
    line-height: 15px

    @media screen and (min-width: 48em)
        font-size: 15.5px
        line-height: 20px

    @media screen and (min-width: 62em)
        font-size: 15.5px
        line-height: 20px

.heading-4
    font-size: 10.5px
    line-height: 12px

    @media screen and (min-width: 48em)
        font-size: 12.5px
        line-height: 16px

    @media screen and (min-width: 62em)
        font-size: 12.5px
        line-height: 16px
